<head>
  <!-- Font Awesome Icon Library -->
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <style>
    .checked {
      color: #f12424;
    }
  </style>
</head>



<div class="profile">
  <div class="leftsideprofile">
    <form action="/profile/{{profile._id}}/" method="POST" class="profile-form">
      <div class="imgcontainer">
        <img class="imgprofile" src="./images/defaultimage.png">
      </div>
      <h2 class="profileh2" class="introh2"> About you</h2>
      <div class="introprofile">
        <label>Name:</label>
        <br>
        <input name="profile-name" class="profile-input" value={{profile.name}}>
        <br>
        <label>Lastname: <label>
            <br>
            <input name="profile-lastname" class="profile-input" value={{profile.lastname}}>
      </div>
    </form>
  </div>
  <div class="rightsideprofile">
    <div class="universityprofile">
      <form action="/profile/{{profile._id}}/" method="POST" class="univ-form">
        <h2 class="profileh2" class="introh2"> About your university</h2>
        <div class="universityinfo">
          <label>University: </label>
          <br>
          <input name="profile-university" class="profile-input" value={{profile.university.name}}>
          <br>
          <label>Average Ranking: <label>
              {{!-- <br>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="1one"
                  style="font-size:40px;cursor:pointer;" class="fa fa-star checked"></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"
                  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"
                  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"
                  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"
                  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                <br /> --}}
        </div>
      </form>
    </div>
  </div>
  <div class="profileopinion">
    {{#if hasRanked}}
    <div action="/profile" method="POST" class="opinion-form">
      <h2 class="profileh2" class="introh2"> Your opinion matters {{hasRanked}}</h2>
      <label id="score" data-score={{profile.ranking}}>Your University ranking: </label>
      <br>
      {{#stars profile.ranking}}
      <span id="1one" style="font-size:40px;cursor:pointer;" class="fa fa-star checked"></span>
      {{/stars}}
      <br />
      <label> Your University review:</label>
      <br>
      <p style="margin-top:5px;" name="review" class="form-control" rows="3" id="comment"
        placeholder="Enter your review">
        {{profile.review}}</p>
      <input id="rating" type="number" name="ranking" value={{profile.ranking}}>
    </div>
    {{else}}
    <form action="/profile" method="POST" class="opinion-form">
      <h2 class="profileh2" class="introh2"> Your opinion matters {{hasRanked}}</h2>
      <label id="score" data-score={{profile.ranking}}>Your University ranking: </label>
      <br>
      <span onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:40px;cursor:pointer;"
        class="fa fa-star checked"></span>
      <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one" style="font-size:40px;cursor:pointer;"
        class="fa fa-star "></span>
      <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one" style="font-size:40px;cursor:pointer;"
        class="fa fa-star "></span>
      <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one" style="font-size:40px;cursor:pointer;"
        class="fa fa-star"></span>
      <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one" style="font-size:40px;cursor:pointer;"
        class="fa fa-star"></span>
      <br />
      <label> Your University review:</label>
      <br>
      <textarea style="margin-top:5px;" name="review" class="form-control" rows="3" id="comment"
        placeholder="Enter your review">{{profile.review}}</textarea>
      <input id="rating" type="number" name="ranking" value={{profile.ranking}}>
      <button style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Submit</button>
    </form>
    {{/if}}

  </div>
</div>
{{#each scripts}}
<script src="/javascripts/{{this}}"></script>
{{/each}}